<div class="home-container">
  <!-- Audio -->
  <audio id="themeAudio" src="assets/audio/starwars.mp3" autoplay muted></audio>
  
  <!-- Intro -->
  <div class="flex justify-center items-center text-center p-6">
    <section>
      <div class="flex flex-col justify-center items-center text-center">
        <h1 id="title" class="mt-6 text-6xl text-white"></h1>
        <p id="typewriter" class="mt-6 max-w-4xl text-white text-lg md:text-2xl"></p>
        <p id="typewriter1" class="mt-4 max-w-3xl text-primary text-lg md:text-4xl"></p> 
        <button class="btn btn-outline btn-primary mt-6">Explore Now</button>
      </div>
    </section>
  </div>

  <!-- Spaceships -->
  <div class="flex justify-center items-center text-center p-6">
    <section>
      <h2 class="text-white text-start text-3xl font-bold mb-10 mt-10 border-b border-gray-500 pb-2">Legendary Star Wars Spaceships</h2>
      <!-- Carrusel -->
      <div class="carousel rounded-box">
        <!-- Item 1 -->
        <div class="carousel-item flex flex-col items-center">
          <img src="assets/images/star-wars-b-wing.jpg" alt="Burger" class="[height:65vh] w-auto object-contain mx-auto"/>
          <em class="font-bold text-white  mt-2">B-Wing Starfighter</em>
        </div>
        <!-- Item 2 -->
        <div class="carousel-item flex flex-col items-center">
          <img src="assets/images/star-wars-jedi-starfighter.jpg" alt="Burger" class="[height:65vh] w-auto object-contain mx-auto"/>
          <em class="font-bold text-white  mt-2">Jedi Starfighter</em>
        </div>
        <!-- Item 3 -->
        <div class="carousel-item flex flex-col items-center">
          <img src="assets/images/star-wars-kylo-ren-ship.jpg" alt="Burger" class="[height:65vh] w-auto object-contain mx-auto"/>
          <em class="font-bold text-white  mt-2">Kylo-Ren Starfighter</em>
        </div>
        <!-- Item 4 -->
        <div class="carousel-item flex flex-col items-center">
          <img src="assets/images/star-wars-rebels-ghost.jpg" alt="Burger" class="[height:65vh] w-auto object-contain mx-auto"/>
          <em class="font-bold text-white  mt-2">Rebels-Ghost Starfighter</em>
        </div>
        <div class="carousel-item flex flex-col items-center">
          <img src="assets/images/star-wars-y-wing.jpg" alt="Burger" class="[height:65vh] w-auto object-contain mx-auto" />
          <em class="font-bold text-white  mt-2">Y-Wing Starfighter</em>
        </div>
      </div>
    </section>
  </div>

  <!-- News Section -->
  <div class="flex justify-center items-center text-center p-6">
    <section>
      <h2 class="text-white text-start text-3xl font-bold mb-10 mt-10 border-b border-gray-500 pb-2">Latest news</h2>
      <div class="grid flex-cols-1 md:grid-cols-5 gap-6 px-6 md:px-12">
        <!-- Card 1 -->
        <div class="card bg-gray-800 rounded-lg shadow-lg overflow-hidden">
          <img src="/assets/images/new1.jpg" alt="News 1" class="w-full h-auto"/>
          <div class="p-4">
            <h3 class="link pointer text-lg font-bold text-white">Ahsoka Series: New Adventures Unfold</h3>
            <p class="text-sm text-gray-400 mt-2">
              Dive into the highly anticipated "Ahsoka" series and follow the journey of the ex-Jedi as she unravels hidden secrets across the galaxy.
            </p>
          </div>
        </div>
        <!-- Card 2 -->
        <div class="card bg-gray-800 rounded-lg shadow-lg overflow-hidden">
            <img src="/assets/images/new2.jpg" alt="News 1" class="w-full h-auto"/>
            <div class="p-4">
              <h3 class="link pointer text-lg font-bold text-white">The Mandalorian: Season 4 Announced
              </h3>
              <p class="text-sm text-gray-400 mt-2">
                Get ready for more action-packed episodes as Din Djarin and Grogu continue their epic journey in a galaxy far, far away.
              </p>
            </div>
          </div>
         <!-- Card 3 -->
         <div class="card bg-gray-800 rounded-lg shadow-lg overflow-hidden">
            <img src="/assets/images/new3.jpg" alt="News 1" class="w-full h-auto"/>
            <div class="p-4">
              <h3 class="link pointer text-lg font-bold text-white">Star Wars: Eclipse Video Game Teaser</h3>
              <p class="text-sm text-gray-400 mt-2">
                The new Star Wars game set in the High Republic era promises to immerse players in a breathtaking narrative and expansive universe.
              </p>
            </div>
          </div>
        <!-- Card 4 -->
        <div class="card bg-gray-800 rounded-lg shadow-lg overflow-hidden">
            <img src="/assets/images/new4.jpg" alt="News 1" class="w-full h-auto"/>
            <div class="p-4">
              <h3 class="link pointer text-lg font-bold text-white">Andor: A Deep Dive into the Rebellion</h3>
              <p class="text-sm text-gray-400 mt-2">
                Learn about the pivotal moments that sparked the Rebel Alliance in the critically acclaimed "Andor" series.
              </p>
            </div>
          </div>
        <!-- Card 5 -->
        <div class="card bg-gray-800 rounded-lg shadow-lg overflow-hidden">
            <img src="/assets/images/new5.jpg" alt="News 1" class="w-full h-auto"/>
            <div class="p-4">
              <h3 class="link pointer text-lg font-bold text-white">Behind the Scenes of Skeleton Crew</h3>
              <p class="text-sm text-gray-400 mt-2">
                Discover how the crew brought "Skeleton Crew" to life with groundbreaking visual effects and gripping storytelling.
              </p>
            </div>
          </div>
      </div>
    </section>
  </div>
</div>
