<div class="container p-4 mx-auto ">
    @if (starship) {
      <div class="flex">
          <div class="card shadow-xl border border-neutral-600 text-neutral-100 p-4">
            <div class="card-body">
              <h1 class="card-title">{{ starship.name }}</h1>
              <h3>Model: {{ starship.model }}</h3>
              <h3>Passengers: {{ starship.passengers }}</h3>
              <h3>Crew: {{ starship.crew}}</h3>
              <h3>Created: {{ starship.created }}</h3>
              <h3>Manufacturer: {{ starship.manufacturer }}</h3>
              <h3>Max Speed: {{ starship.max_atmosphering_speed}}</h3>
              <h2>Films:</h2>

              @for (film of starship.films; track $index){
                <h3>{{film}}</h3>
              }
              <h2>Pilots:</h2>
              @if(starship.pilots){
                @for(pilot of starship.pilots; track $index){
                    <h3>{{pilot}}</h3>

                }
              }@else{
                <h3>Any pilot to show</h3>
              }
            </div>
          </div>
      </div>
    } @else {
      <h3>Sorry, we couldn't get the details</h3>
    }
  </div>
  

