<div class="w-full bg-gradient-to-r from-gray-900 via-gray-700 to-black">
  <!-- Header -->
  <div>
    <h1 class="text-3xl bg-gradient-to-r from-yellow-200 via-yellow-400 to-yellow-600 text-transparent bg-clip-text p-10 tracking-[0.5em] border-b border-primary pb-2">
      STARSHIPS
    </h1>
  </div>

  <!-- Starship Details -->
  @if (starship) {
    
    <div class="flex items-center justify-end p-10">
      <!-- Image Starship -->
      <div class="flex flex-col">
        <div class="me-4 border">
          <img [src]="starship.imageUrl" alt="Starship Image" (error)="setDefaultImage()">            
        </div>
        <div>
          @if(isDefaultImage){
            <p class="text-white">Default image - We couldn't load the original one from the API.</p>
          }  
        </div>
      </div> 
      <!-- Starship Details Card -->
      <div class="card card-details border border-dashed border-neutral-600 text-neutral-100 hover:border-primary p-4">
        <div class="card-body">
          <h1 class="card-title text-2xl tracking-[0.3em] mb-5">{{ starship.name }}</h1>

          <!-- Grid with two columns for md/lg screens -->
          <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
            <!-- Col 1 -->
            <div>
              <h3 class="mb-3 hover:text-primary cursor-pointer"><b>Model:</b> {{ starship.model }}</h3>
              <h3 class="mb-3 hover:text-primary cursor-pointer"><b>Passengers:</b> {{ starship.passengers }}</h3>
              <h3 class="mb-3 hover:text-primary cursor-pointer"><b>Crew:</b> {{ starship.crew }}</h3>
              <h3 class="mb-3 hover:text-primary cursor-pointer"><b>Created:</b> {{ starship.created }}</h3>
            </div>
            <!-- Col 2 -->
            <div>
              <h3 class="mb-3 hover:text-primary cursor-pointer"><b>Manufacturer:</b> {{ starship.manufacturer }}</h3>
              <h3 class="mb-3 hover:text-primary cursor-pointer"><b>Max Speed:</b> {{ starship.max_atmosphering_speed }}</h3>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Pilots Section -->
   <div class="flex justify-items-center justify-center">
    <div>
      <h2 class="text-white text-start text-3xl font-bold mb-10 mt-10 border-b border-gray-500 pb-2">PILOTS</h2>
      @if (starship.pilots.length > 0) {
        <app-pilots [pilotUrls]="starship.pilots"></app-pilots>
      } @else {
        <h2 class="text-white mb-6">Sorry, there are no pilots to show</h2>
      }
     </div>
  </div> 

   <!-- FILMS Section -->
  <div class="flex justify-items-center justify-center">
    <div>
      <h2 class="text-white text-start text-3xl font-bold mb-10 mt-10 border-b border-gray-500 pb-2">FILMS</h2>
      @if (starship.films.length > 0){
        <app-films [filmsUrls]="starship.films"></app-films>
      }
    </div>
  </div>
  } @else {
    <h3 class="text-white font-bold">Sorry, we couldn't get the details</h3>
  }
</div>

  
  

