<footer class="footer footer-center bg-black text-white p-10">
  <nav>
    <aside>
      <div>
        <p class="font-bolt text-lg">MORE ABOUT US:</p>
      </div>
      <div class="flex mt-4 gap-6">
        <a href="#" class="text-xl border border-transparent hover:border-primary rounded-md p-1" aria-label="TikTok"><i class="fab fa-tiktok"></i></a>
        <a href="#" class="text-xl border border-transparent hover:border-primary rounded-md p-1" aria-label="Instagram"><i class="fab fa-instagram"></i></a>
        <a href="#" class="text-xl border border-transparent hover:border-primary rounded-md p-1" aria-label="X (Twitter)"><i class="fab fa-x-twitter"></i></a>
        <a href="#" class="text-xl border border-transparent hover:border-primary rounded-md p-1" aria-label="Facebook"><i class="fab fa-facebook"></i></a>
        <a href="#" class="text-xl border border-transparent hover:border-primary rounded-md p-1" aria-label="YouTube"><i class="fab fa-youtube"></i></a>
      </div>
    </aside>
      <div>
        <p class="mt-8">TM & © Lucasfilm Ltd. All Rights Reserved</p>
      </div> 
      <div class="flex flez-col md:flex-row justify-between mt-4 ">
        <ul class="flex flex-col md:flex-row gap-4 md:gap-10">
          <li><a href="#" class="link underline hover:text-primary">Terms of Use</a></li>
          <li><a href="#" class="link underline hover:text-primary">Additional Content Information</a></li>
          <li><a href="#" class="link underline hover:text-primary">Privacy Policy</a></li>
          <li><a href="#"  class="link underline hover:text-primary">Children's Online Privacy Policy</a></li>
          <li><a href="#"  class="link underline hover:text-primary">Your US State Privacy Rights</a></li>
          <li><a href="#"  class="link underline hover:text-primary">Disney Store | Star Wars</a></li>
          <li><a href="#"  class="link underline hover:text-primary">Interest-Based Ads</a></li>
          <li><a href="#" class="link underline hover:text-primary">Do Not Sell or Share My Personal Information</a></li>
        </ul>
      </div>
  </nav>

</footer>
