<!-- Header -->
<div class="flex flex-col justify-center">
  <!-- Logo -->
  <div class="header w-full bg-black py-4">
    <div class="flex justify-center">
      <app-logo></app-logo>
    </div>
  </div>
</div>

<!-- Main -->
<div class="flex flex-col mt-10">
  <!-- Close Button -->
  <div class="flex justify-end me-10">
    <a routerLink="/" class="btn btn-circle btn-primary">
      ✖
    </a>
  </div>


  <!-- Login Card -->
  <div class="flex justify-center mb-10">
    <div class="card bg-white w-full max-w-[520px] md:max-w-[620px] p-6 lg:p-8 rounded-3xl shadow-xl">
      <!-- Logo -->
      <div class="flex justify-start mb-6">
        <img src="/assets/images/mydisneylogo.png" alt="My Disney" class="h-8">
      </div>
      
      <!-- Title and Description -->
      <h2 class="text-2xl font-bold mb-4 text-left">Enter your login details:</h2>
      <p class="text-gray-600 mb-6 text-left">
        Log in to Star Wars with your MyDisney account. If you don't have one, you will be prompted to create one.
      </p>

      <!-- Form -->
      <form [formGroup]="loginForm" (ngSubmit)="submitLogin()">
        <!-- Email -->
        <label class="block w-full mb-4">
          <input
            type="email"
            placeholder="Email"
            formControlName="email"
            class="input input-bordered w-full h-12 px-4 text-base bg-gray-100 rounded-md"/>
          @if (loginForm.get('email')?.invalid && loginForm.get('email')?.touched) {
            <div class="error-messages">
              @if (loginForm.get('email')?.errors?.['required']) {
                <span class="text-red-600 font-bold">Email is required</span>
              }
              @if (loginForm.get('email')?.errors?.['email']) {
                <span class="text-red-600 font-bold">Enter a valid email address</span>
              }
            </div>
          }
        </label>

        <!-- Password -->
        <label class="block w-full mb-4">
          <input
            type="password"
            placeholder="Password"
            formControlName="password"
            class="input input-bordered w-full h-12 px-4 text-base bg-gray-100 rounded-md"/>
          @if (loginForm.get('password')?.invalid && loginForm.get('password')?.touched) {
            <div class="error-messages">
              @if (loginForm.get('password')?.errors?.['required']) {
                <span class="text-red-600 font-bold">Password is required</span>
              }
            </div>
          }
        </label>

        <!-- Login Button -->
        <button
          type="submit"
          class="btn bg-yellow-500 hover:bg-yellow-400 text-black font-bold w-full h-12 rounded-full mb-6"
          [disabled]="loginForm.invalid">
          Log In
        </button>
      </form>

      <!-- Footer Information -->
      <hr class="border-gray-300 mb-6">
      <div class="text-left text-gray-600 text-sm space-y-4">
        <p><strong>Star Wars is part of The Walt Disney Family of Companies.</strong></p>
        <p>
          MyDisney lets you seamlessly log in to services and experiences across The Walt Disney Family of Companies, such as Disney+, ESPN, Walt Disney World, and <a class="link text-blue-400 pointer font-bold" href="#">more</a>.
        </p>
      </div>
    </div>
  </div>
</div>



