
<nav class="bg-black text-stone-300 px-4 lg:px-8 py-4">
  <!-- Social Icons, Logo, Login & Logout -->
  <div class="flex items-center justify-between">
    <!-- Social Icons-->
    <div class="hidden lg:flex gap-4">
      <a href="#" class="text-xl border border-transparent hover:border-primary rounded-md p-1" aria-label="TikTok"><i class="fab fa-tiktok"></i></a>
      <a href="#" class="text-xl border border-transparent hover:border-primary rounded-md p-1" aria-label="Instagram"><i class="fab fa-instagram"></i></a>
      <a href="#" class="text-xl border border-transparent hover:border-primary rounded-md p-1" aria-label="X (Twitter)"><i class="fab fa-x-twitter"></i></a>
      <a href="#" class="text-xl border border-transparent hover:border-primary rounded-md p-1" aria-label="Facebook"><i class="fab fa-facebook"></i></a>
      <a href="#" class="text-xl border border-transparent hover:border-primary rounded-md p-1" aria-label="YouTube"><i class="fab fa-youtube"></i></a>
    </div>
    <!-- Logo -->
    <div class="flex-1 flex justify-center">
      <app-logo></app-logo>
    </div>
    <!-- Login & Logout -->
    <div class="hidden lg:flex gap-4">
      @if(!isLogged()){
        <a routerLink="/login" routerLinkActive="border-b-4 border-primary" class="text-lg font-bold border border-black hover:border-primary px-4 py-2 rounded-lg cursor-pointer">LOG IN</a>
      }@else {
        <a class="text-lg font-bold border border-black hover:border-primary px-4 py-2 rounded-lg cursor-pointer" routerLinkActive="border-b-4 border-primary" (click)="isNotLogged()">LOG OUT</a>
      }
        <a routerLink="/signup" routerLinkActive="border-b-4 border-primary" class="text-lg font-bold border border-black hover:border-primary px-4 py-2 rounded-lg cursor-pointerls">SIGN UP</a>
    </div>
    <!-- Hamburguer menu -->
    <div class="lg:hidden dropdown dropdown-end">
      <label tabindex="0" class="btn btn-square btn-ghost"><i class="fas fa-bars"></i></label>
      <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-neutral-800 rounded-box w-52">
        <li><a routerLink="/" routerLinkActive="border-b-4 border-primary">HOME</a></li>
        <li><a routerLink="/starships" routerLinkActive="border-b-4 border-primary">STARSHIPS</a></li>
        <li><a routerLink="/login" routerLinkActive="border-b-4 border-primary"><i class="fas fa-user"></i> Log In</a></li>
        <li><a routerLink="/signup" routerLinkActive="border-b-4 border-primary">Sign Up</a></li>
      </ul>
    </div>
  </div>
  <!-- (HOME y STARSHIPS) -->
  <div class="flex justify-center mt-4">
    <ul class="menu menu-horizontal px-4 gap-8">
      <a routerLink="/" routerLinkActive="border-b-4 border-primary" class="text-lg font-bold border border-neutral-600 hover:border-primary px-4 py-2">HOME</a>
      <a routerLink="/starships" routerLinkActive="border-b-4 border-primary" class="text-lg font-bold border border-neutral-600 hover:border-primary px-4 py-2">STARSHIPS</a>
    </ul>
  </div>
</nav>

  
  
