<div class="w-full h-screen overflow-y-auto bg-gradient-to-r from-gray-900 via-gray-700 to-black" infiniteScroll (scrolled)="onScroll()" [infiniteScrollDistance]="0.5" [infiniteScrollThrottle]="500">
  @for(starship of starships; track $index){
    <ul>
      <li>
        <div class="flex justify-center  card shadow-xl border border-neutral-600 text-neutral-100 p-4 hover:border-primary">
          <div class="card-body">
            <h3 class="card-title">{{ starship.name }}</h3>
            <p>{{ starship.model }}</p>
            <button class="btn-sm p-1 hover:border border-primary rounded-md" [routerLink]="['/starships-detail', starship.id]">See details</button>
          </div>
        </div>
      </li>
    </ul>
  }
  <div class="m-8">
    @defer(when !hasMoreData) {
      <p class="text-primary">No more starships to load</p>
    }
    @loading (after 2000ms; minimum 4s) {
      <div class="text-primary">
        <mat-progress-bar mode="buffer"></mat-progress-bar>
        <p class="mt-2">Loading data...</p>
      </div>
    }
    @placeholder {
      <mat-progress-bar mode="buffer"></mat-progress-bar>
      <div class="text-primary">Setting up the content...</div>
    }
  </div>
</div> 






