.card {
    margin-bottom: 20px;
  }
  
  .card-body {
    font-size: 1.2rem;
    padding: 10px;
  }
  
  .w-full {
    max-width: 100%;
  }
  
  .text-primary {
    color: yellow; // Si quieres usar color amarillo para el texto
  }
  